<launch>

  <!-- <rosparam file="$(find autonomos_gazebo)/config/autonomos_gazebo_control.yaml" command="load"/> -->

  <!-- <node name="spawner" pkg="controller_manager" type="spawner" -->
    <!-- output="screen" ns="ackermann" args="joint_state_controller -->
       <!-- steer/steer_position_controller"/> -->

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
  	<arg name="verbose" value="true"/>
  	
    <arg name="world_name" value="$(find autonomos_gazebo)/worlds/empty_world.world"/>
    <!-- more default parameters can be changed here -->
  </include>
</launch>
	
