<?xml version="1.0"?>
  <model>
    <name>AutNOMOS_mini_intersection</name>
    <version>1.0</version>
    <!--<sdf>model.sdf</sdf> -->
    <sdf version="1.5">model.sdf</sdf>
    <author>
      <name>Edgar Granados</name>
      <email>edgar.granados@itam.mx</email>
    </author>
    <description>
      AutoNOMOS mini Intersection 
    </description>
  </model>

