<launch>

 
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="debug" value="false"/>
    <arg name="world_name" value="$(find autonomos_gazebo_simulation)/worlds/empty_world.world"/>
    <!-- more default parameters can be changed here -->
  </include>
 <!-- <node name = "spawn_model" pkg = "gazebo_ros" type = "spawn_model" output = "screen" args="-sdf -model AutoNOMOS_mini -file $(find autonomos_gazebo)/models/AutoNOMOS_mini/model.sdf " />  -->
  <node name = "tf_autonomos" pkg = "autonomos_gazebo_simulation" type = "tf2_broadcaster_node" args = "AutoNOMOS_mini" />

     <node name = "robot_pose" pkg = "autonomos_gazebo_simulation" type = "robot_pose_publisher" />
</launch>
