<launch>

 
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
    	<arg name="paused" value="false"/>
    	<arg name="use_sim_time" value="true"/>
    	<arg name="gui" value="true"/>
    	<arg name="debug" value="false"/>
    </include>

	<group ns="AutoNOMOS_mini_1">
    	<node name = "spawn_autonomos_1" pkg = "gazebo_ros" type = "spawn_model" output = "screen" args="-sdf -model AutoNOMOS_mini_1 -file $(find autonomos_gazebo)/models/AutoNOMOS_mini/model.sdf -x 5 -y 5 -Y 3.926990817 " /> 
    	<node name = "AutoNOMOS_mini_1_pose" pkg = "autonomos_simulation" type = "robot_pose_publisher" />
    </group>

    <group ns="AutoNOMOS_mini_2">
    	<node name = "spawn_autonomos_2" pkg = "gazebo_ros" type = "spawn_model" output = "screen" args="-sdf -model AutoNOMOS_mini_2 -file $(find autonomos_gazebo)/models/AutoNOMOS_mini/model.sdf -x 4 -y 4 -Y 3.926990817 " /> 
    	<node name = "AutoNOMOS_mini_2_pose" pkg = "autonomos_simulation" type = "robot_pose_publisher" />
    </group>

    <group ns="Road">
    	<node name = "spawn_road" pkg = "gazebo_ros" type = "spawn_model" output = "screen" args="-sdf -model AutoNOMOS_straight_road -file $(find autonomos_gazebo)/models/AutoNOMOS_straight_road/model.sdf -x 0 -y 0 -Y 0 " /> 
	</group>

    <node name = "tf_autonomos" pkg = "autonomos_simulation" type = "tf2_broadcaster_node" args = "AutoNOMOS_mini" output = "screen" />

    


</launch>
	