<?xml version="1.0"?>

<model>
  <name>Circuit 2 Way Straight</name>
  <version>1.0</version>
  <sdf version="1.4">model-1_4.sdf</sdf>

  <author>
    <name>Eduardo Martínez</name>
    <email>eduardodsat@hotmail.com</email>
  </author>

  <description>
    A straight road 2 way, build with Sketchup
  </description>

</model>
