<?xml version="1.0"?>

<model>
  <name>Circuit 3 lanes oval</name>
  <version>1.0</version>
  <sdf version="1.4">model-1_4.sdf</sdf>

  <author>
    <name>Eduardo Martínez</name>
    <email>eduardodsat@hotmail.com</email>
  </author>

  <description>
    An oval with three lanes
  </description>

</model>
